<section class="pagination">
  <% if (currPage !== 1) { %> 
    <a href="?page=1">First</a>
  <% } %> 

  <% if (hasPrevPage && prevPage != 1) { %> 
    <a href="?page=<%= prevPage %>"><%= prevPage %></a>
  <% } %>

  <a href="?page=<%= currPage %>" class="active"><%= currPage %></a>

  <% if (hasNextPage) { %> 
    <a href="?page=<%= nextPage %>"><%= nextPage %></a>
  <% } %> 

  <% if (lastPage !== currPage && nextPage !== lastPage) { %> 
    <a href="?page=<%= lastPage %>">Last</a>
  <% } %>
</section>